name: Build & Deploy

on:
  - push

jobs:
  build-deploy:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Switch node version
        shell: bash -l {0}
        run: nvm install
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: build
          clean: true
          dry-run: ${{ github.ref != 'refs/heads/main' }}
